@font-face {
    font-family: 'Rubik-medium';
    src: url('./fonts/Rubik/Rubik-Medium.woff2') format('woff2'),
         url('./fonts/Rubik/Rubik-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik-regular';
    src: url('./fonts/Rubik/Rubik-Regular.woff2') format('woff2'),
         url('./fonts/Rubik/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}