.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner__hero {
  width: 100%;
  margin-bottom: 2rem;
}

.banner__content {
  max-width: 25rem;
  text-align: center;
  line-height: 1.5;
}

.banner__title {
  margin-bottom: 1rem;
}

.banner__text {
  font-size: 0.85rem;
  margin-bottom: 2rem;
  color: $addtional-color-1;
}

.banner__btn {
  @include main-btn;
  margin: 0.5rem 0.5rem;
}

.banner__btn-2 {
  background-color: lighten($addtional-color-1, 30%);
  color: darken($addtional-color-1, 10%);
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 1);
}

@media (min-width: 1150px) {
  .banner {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  .banner__content {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: start;
  }

  .banner__hero {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
  }

  .banner__title {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .banner__text {
    font-size: 1rem;
  }

  .banner__btn:first-of-type {
    margin-left: 0;
    margin-right: 0.5rem;
  }

  .banner__btn:last-of-type {
    margin-right: 0;
    margin-left: 0.5rem;
  }
}
