.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner__img-wrapper {
  width: 100%;
  position: relative;
}

.banner__hero {
  width: 100%;
  margin-bottom: 2rem;
  z-index: 1;
}

.banner__svg-bg {
  width: 100%;
  position: absolute;
  top: 15%;
  right: -25%;
  z-index: -1;
}

.banner__content {
  max-width: 25rem;
  text-align: center;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

.banner__title {
  margin-bottom: 1rem;
}

.banner__text {
  font-size: 0.85rem;
  margin-bottom: 2rem;
  color: $addtional-color-1;
}

.banner__btn {
  @include main-btn;
  margin: 0.5rem 0.5rem;
}

.banner__btn-2 {
  background-color: lighten($addtional-color-1, 30%);
  color: darken($addtional-color-1, 10%);
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 1);
}

@media (min-width: 1150px) {
  .banner .container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 25rem 2rem 1fr;
    grid-template-rows: 100%;
  }

  .banner__content {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .banner__img-wrapper {
    width: 100%;
    height: 100%;
  }

  .banner__img-wrapper {
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 0;
  }

  .banner__svg-bg {
    top: 25%;
    right: -35%;
  }

  .banner__hero {
    width: 115%;
  }

  .banner__title {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .banner__text {
    font-size: 1rem;
  }

  .banner__btn-1 {
    margin-left: 0;
    margin-right: 0.5rem;
    transition: 0.5s;

    &:hover {
      color: $main-color-1;
      background-color: #fff;
      border: 0.1rem solid $main-color-1;
    }
  }

  .banner__btn-2 {
    margin-right: 0;
    margin-left: 0.5rem;
    transition: 0.5s;

    &:hover {
      color: darken($addtional-color-1, 10%);
      background-color: #fff;
      border: 0.1rem solid darken($addtional-color-1, 10%);
    }
  }
}
