.extension {
    text-align: center;
    padding-top: 6rem;
}

.extension__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1150px) {
    .extension__container {
        position: relative;
        height: 27rem;
    }
}