.faq {
  text-align: center;
  padding-top: 6rem;
}

.faq__content {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
}

.faq__btn-more-info {
  @include main-btn;
  margin-top: 2rem;
}

