.one-feature {
  position: relative;
}

.one-feature__img {
  margin-top: 3rem;
  width: 85%;
  margin-bottom: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.one-feature__img-wrapper {
  width: 100%;
  position: relative;
}

.one-feature__svg-bg {
  transform: rotate(180deg);
  width: 100%;
  position: absolute;
  top: 15%;
  left: -25%;
  z-index: -1;
}

.one-feature__content {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}

.one-feature__title {
  margin-top: 8rem;
  margin-bottom: 1rem;
}

.one-feature__text {
  font-size: 0.85rem;
  margin-bottom: 2rem;
  color: $addtional-color-1;
  line-height: 1.5;
}

.one-feature__btn {
  @include main-btn;
  display: none;
}

.modal .one-feature__content {
  z-index: 1;
}

.modal .one-feature__img {
  width: 80%;
  z-index: 2;
}

.modal .one-feature__title {
  margin: 0;
}

.modal .one-feature__img-wrapper {
  max-width: 50rem;
  overflow: hidden;
}

.modal .one-feature__svg-bg {
  max-width: initial;
}
 
@media (min-width: 1150px) {
  .one-feature .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
  }

  .one-feature__img-wrapper {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .one-feature__svg-bg {
    top: 25%;
    left: -30%;
    z-index: -1;
  }

  .one-feature__content {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1rem;
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .one-feature__title {
    align-self: flex-start;
    font-size: 2rem;
    margin-top: 0;
  }

  .one-feature__text {
    font-size: 1rem;
  }

  .one-feature__btn {
    display: block;
    align-self: flex-start;
  }
}
