.one-question__container {
  border-bottom: 0.01rem solid $addtional-color-1;
  cursor: pointer;
}

.one-question__btn {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 0.75rem 0;
  font-family: "Rubik";
  font-weight: 500;
  color: darken($addtional-color-1, 20%);
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.one-question__answer {
  font-size: 0.85rem;
  margin-bottom: 2rem;
  color: darken($addtional-color-1, 20%);
  line-height: 1.75;
  text-align: start;
}

.arrow-rotate {
  transform: rotate(180deg);
}

@media (min-width: 1150px) {
  .one-question__btn {
    font-size: 1rem;

    &:hover {
      color: $main-color-2;
    }
  }
}
