.one-feature__img {
    width: 100%;
    margin-bottom: 4rem;
}

.one-feature__title {
    margin-bottom: 1rem;
}

.one-feature__text {
    font-size: 0.85rem;
    margin-bottom: 2rem;
    color: $addtional-color-1;
    line-height: 1.5;
}